.logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: #000;
    cursor: pointer;
}

.logout-button > svg {
    font-size: 1.3rem;
    color: #fff;
}