.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.registerForm > input {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
}

.registerForm > button {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}